<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>name</ion-col>
      <ion-col>email</ion-col>
      <ion-col>city</ion-col>
      <ion-col>phone</ion-col>
    </ion-row>
    <ion-row *ngFor="let usuario of arrayPosts">
      <ion-col>{{ usuario.name }}</ion-col>
      <ion-col>{{ usuario.email }}</ion-col> 
      <ion-col> {{ usuario.city }}</ion-col> 
      <ion-col>{{ usuario.phone }}</ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
